@model List<LoyaltyCouponsSystem.BLL.ViewModel.Distributor.DistributorViewModel>

@{
    ViewData["Title"] = "All Distributors";
    Layout = "~/Views/Shared/_LayoutCoupon.cshtml";
}

<h1>All Distributors</h1>

<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Governate</th>
            <th>City</th>
            <th>Customers</th>
            <th>Created By</th>
            <th>Created At</th>
            <th>Actions</th>     
        </tr>
    </thead>
    <tbody>
        @foreach (var distributor in Model)
        {
            <tr>
                <td>@distributor.Code</td>
                <td>@distributor.Name</td>
                <td>@distributor.PhoneNumber1</td>
                <td>@distributor.SelectedGovernate</td>
                <td>@distributor.SelectedCity</td>
                <td>@distributor.AvailableCustomers</td>
                <td>@distributor.CreatedBy</td>
                 <td>@distributor.CreatedAt</td>
                <td>
                    <a href="@Url.Action("UpdateDistributor", "Distributor", new { id = distributor.Code })">Edit</a> |
                    <a href="@Url.Action("GetAllDistributors", "Distributor", new { id = distributor.Code })" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
