@using LoyaltyCouponsSystem.BLL.ViewModel.QRCode
@model IEnumerable<CouponViewModel>

@{
    ViewData["Title"] = "Coupon List";
    Layout = "~/Views/Shared/_LayoutCoupon.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Coupon History</h4>
            <form method="get" class="form-inline">
                <div class="row">
                    <div class="col">
                        <input type="text" name="serialNumber" class="form-control" placeholder="Serial Number" value="@ViewContext.HttpContext.Request.Query["serialNumber"]" />
                    </div>
                    <div class="col">
                        <input type="text" name="fromSequence" class="form-control" placeholder="From Sequence (String)" value="@ViewContext.HttpContext.Request.Query["fromSequence"]" />
                    </div>
                    <div class="col">
                        <input type="text" name="toSequence" class="form-control" placeholder="To Sequence (String)" value="@ViewContext.HttpContext.Request.Query["toSequence"]" />
                    </div>
                    <div class="col">
                        <input type="text" name="typeOfCoupon" class="form-control" placeholder="Type Of Coupon" value="@ViewContext.HttpContext.Request.Query["typeOfCoupon"]" />
                    </div>
                    <div class="col">
                        <input type="text" name="governorate" class="form-control" placeholder="Governorate" value="@ViewContext.HttpContext.Request.Query["governorate"]" />
                    </div>
                    <div class="col">
                        <input type="text" name="area" class="form-control" placeholder="Area" value="@ViewContext.HttpContext.Request.Query["area"]" />
                    </div>
                    <div class="col">
                        <input type="text" name="status" class="form-control" placeholder="Status" value="@ViewContext.HttpContext.Request.Query["status"]" />
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Serial Number</th>
                            <th>Type Of Coupon</th>
                            <th>Governorate</th>
                            <th>Area</th>
                            <th>Value</th>
                            <th>Order In Year</th>
                            <th>Status</th>
                            <th>Creation Date</th>
                            <th>Created By</th>
                            <th>Scaned By</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.SerialNumber</td>
                                <td>@item.TypeOfCoupone</td>
                                <td>@item.GovernorateName</td>
                                <td>@item.AreaName</td>
                                <td>@item.Value</td>
                                <td>@item.NumInYear</td>
                                <td>@item.Status</td>
                                <td>@item.CreationDateTime?.ToString("yyyy-MM-dd")</td>
                                <td>@item.CreatedBy</td>
                                <td>
                                    <form asp-action="GetAllCoupons" method="get" style="display:inline;">
                                        @* <input type="hidden" name="fromSequence" value="@item.FromSerialNumber" />
                                        <input type="hidden" name="toSequence" value="@item.ToSerialNumber" /> *@
                                        <button type="submit" class="btn btn-primary"> Scaned By</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <nav>
                    <ul class="pagination">
                        @if (ViewBag.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="?serialNumber=@ViewContext.HttpContext.Request.Query["serialNumber"]&fromSequence=@ViewContext.HttpContext.Request.Query["fromSequence"]&toSequence=@ViewContext.HttpContext.Request.Query["toSequence"]&typeOfCoupon=@ViewContext.HttpContext.Request.Query["typeOfCoupon"]&governorate=@ViewContext.HttpContext.Request.Query["governorate"]&area=@ViewContext.HttpContext.Request.Query["area"]&status=@ViewContext.HttpContext.Request.Query["status"]&page=@(ViewBag.CurrentPage - 1)">Previous</a>
                            </li>
                        }

                        @if (ViewBag.CurrentPage > 3)
                        {
                            <li class="page-item">
                                <a class="page-link" href="?serialNumber=@ViewContext.HttpContext.Request.Query["serialNumber"]&fromSequence=@ViewContext.HttpContext.Request.Query["fromSequence"]&toSequence=@ViewContext.HttpContext.Request.Query["toSequence"]&typeOfCoupon=@ViewContext.HttpContext.Request.Query["typeOfCoupon"]&governorate=@ViewContext.HttpContext.Request.Query["governorate"]&area=@ViewContext.HttpContext.Request.Query["area"]&status=@ViewContext.HttpContext.Request.Query["status"]&page=1">1</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                        }

                        @for (int i = Math.Max(1, ViewBag.CurrentPage - 2); i <= Math.Min(ViewBag.TotalPages, ViewBag.CurrentPage + 2); i++)
                        {
                            <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                                <a class="page-link" href="?serialNumber=@ViewContext.HttpContext.Request.Query["serialNumber"]&fromSequence=@ViewContext.HttpContext.Request.Query["fromSequence"]&toSequence=@ViewContext.HttpContext.Request.Query["toSequence"]&typeOfCoupon=@ViewContext.HttpContext.Request.Query["typeOfCoupon"]&governorate=@ViewContext.HttpContext.Request.Query["governorate"]&area=@ViewContext.HttpContext.Request.Query["area"]&status=@ViewContext.HttpContext.Request.Query["status"]&page=@i">@i</a>
                            </li>
                        }

                        @if (ViewBag.CurrentPage < ViewBag.TotalPages - 2)
                        {
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?serialNumber=@ViewContext.HttpContext.Request.Query["serialNumber"]&fromSequence=@ViewContext.HttpContext.Request.Query["fromSequence"]&toSequence=@ViewContext.HttpContext.Request.Query["toSequence"]&typeOfCoupon=@ViewContext.HttpContext.Request.Query["typeOfCoupon"]&governorate=@ViewContext.HttpContext.Request.Query["governorate"]&area=@ViewContext.HttpContext.Request.Query["area"]&status=@ViewContext.HttpContext.Request.Query["status"]&page=@ViewBag.TotalPages">@ViewBag.TotalPages</a>
                            </li>
                        }

                        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="?serialNumber=@ViewContext.HttpContext.Request.Query["serialNumber"]&fromSequence=@ViewContext.HttpContext.Request.Query["fromSequence"]&toSequence=@ViewContext.HttpContext.Request.Query["toSequence"]&typeOfCoupon=@ViewContext.HttpContext.Request.Query["typeOfCoupon"]&governorate=@ViewContext.HttpContext.Request.Query["governorate"]&area=@ViewContext.HttpContext.Request.Query["area"]&status=@ViewContext.HttpContext.Request.Query["status"]&page=@(ViewBag.CurrentPage + 1)">Next</a>
                            </li>
                        }
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>
